@import './FontsAndColors.scss';
@import './Header.scss';
@import './Page.scss';
@import './Form.scss';

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    font-family: $ozonRegular;
    background-color: $ozonBlue;
    color: $ozonWhite;
    font-size: 1.112vw;
    cursor: default;
}